@*@model easyfis.Entities.MstUserForm*@
@{
    // =====================
    // User Rights Variables
    // =====================
    //var canAdd = Model.CanAdd;
    //var canEdit = Model.CanEdit;
    //var canDelete = Model.CanDelete;
    //var canLock = Model.CanLock;
    //var canUnlock = Model.CanUnlock;
    //var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/streetsmartLogo.ico">
    <title>Item Detail</title>

    @Styles.Render("~/Content/Software-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <div class="container">
                <h3>
                    ♨️ Item Detail
                </h3>
            </div>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        Options: Lock, Unlock, and Close Button
                    -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btnItemDetailSave" onclick="saveItem()">💾 Save</button>
                            </div>
                            <div class="col-md-10" align="right">
                                <button class="btn btn-primary" id="btnItemDetailLock" onclick="lockItem()">🔒 Lock</button>
                                <button class="btn btn-primary" id="btnItemDetailUnlock" onclick="unlockItem()">🔓 Unlock</button>
                                <button class="btn btn-danger" id="btnItemDetailClose" onclick="closeItemDetail()">🗙 Close</button>
                            </div>
                        </div>
                    </div>

                    <!--
                        Details, Fields and Other Informations
                    -->
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Code</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpItemDetailItemCode" placeholder="Code" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Item</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inpItemDetailItemDescription" placeholder="Item" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Price</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control numberField" id="inpItemDetailPrice" placeholder="0.00" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Cost</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control numberField" id="inpItemDetailCost" placeholder="0.00" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:40px;">
                                <div class="col-md-2">
                                    <p>Created by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-4">
                                    <p>Updated by:</p>
                                    <div style="padding-left: 10px;">
                                        <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                        <br />
                                        <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Software-js")
    <script type="text/javascript">
        var isLocked = false;

        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // Get Item Detail Data
        function getItemDetailData() {
            Loader.show();

            if (document.location.search.length > 0) {
                $.ajax({
                    url: '/api/item/detail/' + getURLParameterValue("id"),
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results != null) {
                            document.getElementById('inpItemDetailItemCode').value = results.ItemCode;
                            document.getElementById('inpItemDetailItemDescription').value = results.ItemDescription;
                            document.getElementById('inpItemDetailPrice').value = results.Price;
                            document.getElementById('inpItemDetailCost').value = results.Cost;
                            document.getElementById('createdBy').innerHTML = results.CreatedBy;
                            document.getElementById('createdDate').innerHTML = results.CreatedDateTime;
                            document.getElementById('updatedBy').innerHTML = results.UpdatedBy;
                            document.getElementById('updatedDate').innerHTML = results.UpdatedDateTime;

                            if (results.IsLocked) {
                                document.getElementById('inpItemDetailItemCode').disabled = true;
                                document.getElementById('inpItemDetailItemDescription').disabled = true;
                                document.getElementById('inpItemDetailPrice').disabled = true;
                                document.getElementById('inpItemDetailCost').disabled = true;

                                $('#btnItemDetailSave').prop('disabled', true);
                                $('#btnItemDetailLock').prop('disabled', true);

                                isLocked = true;
                            } else {
                                $('#btnItemDetailUnlock').prop('disabled', true);
                            }
                        } else {
                            alert("No Data");
                            window.location = "/Software/ItemList";
                        }
                    }
                });
            } else {
                alert("No Id Parameter Value");
                window.location = "/Software/ItemList";
            }
        }

        // Item Data Object
        function itemDataObject() {
            var itemObject = new Object();
            itemObject.ItemCode = document.getElementById('inpItemDetailItemCode').value;
            itemObject.ItemDescription = document.getElementById('inpItemDetailItemDescription').value;
            itemObject.Price = document.getElementById('inpItemDetailPrice').value;
            itemObject.Cost = document.getElementById('inpItemDetailCost').value;
            var data = JSON.stringify(itemObject);
            return data;
        }

        // Save Item
        function saveItem() {
            document.getElementById('btnItemDetailSave').innerHTML = "💾 Saving...";
            $('#btnItemDetailSave').prop('disabled', true);
            $('#btnItemDetailLock').prop('disabled', true);
            $('#btnItemDetailUnlock').prop('disabled', true);
            $('#btnItemDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/item/save/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: itemDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Save Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailSave').innerHTML = "💾 Save";
                        $("#btnItemDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnItemDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnItemDetailLock").prop("disabled", false);
                        }

                        $("#btnItemDetailClose").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailSave').innerHTML = "💾 Save";
                        $("#btnItemDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnItemDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnItemDetailLock").prop("disabled", false);
                        }

                        $("#btnItemDetailClose").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailSave').innerHTML = "💾 Save";
                        $("#btnItemDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnItemDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnItemDetailLock").prop("disabled", false);
                        }

                        $("#btnItemDetailClose").prop("disabled", false);
                    }
                },
            });
        }

        // Lock Item
        function lockItem() {
            document.getElementById('btnItemDetailLock').innerHTML = "🔒 Locking...";
            $('#btnItemDetailSave').prop('disabled', true);
            $('#btnItemDetailLock').prop('disabled', true);
            $('#btnItemDetailUnlock').prop('disabled', true);
            $('#btnItemDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/item/lock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: itemDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Lock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailLock').innerHTML = "🔒 Lock";
                        $('#btnItemDetailSave').prop('disabled', false);
                        $('#btnItemDetailLock').prop('disabled', false);
                        $('#btnItemDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailLock').innerHTML = "🔒 Lock";
                        $('#btnItemDetailSave').prop('disabled', false);
                        $('#btnItemDetailLock').prop('disabled', false);
                        $('#btnItemDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailLock').innerHTML = "🔒 Lock";
                        $('#btnItemDetailSave').prop('disabled', false);
                        $('#btnItemDetailLock').prop('disabled', false);
                        $('#btnItemDetailClose').prop('disabled', false);
                    }
                },
            });
        }

        // Unlock Item
        function unlockItem() {
            document.getElementById('btnItemDetailUnlock').innerHTML = "🔓 Unlocking...";
            $('#btnItemDetailSave').prop('disabled', true);
            $('#btnItemDetailLock').prop('disabled', true);
            $('#btnItemDetailUnlock').prop('disabled', true);
            $('#btnItemDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/item/unlock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Unlock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnItemDetailSave').prop('disabled', false);
                        $('#btnItemDetailUnlock').prop('disabled', false);
                        $('#btnItemDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnItemDetailSave').prop('disabled', false);
                        $('#btnItemDetailUnlock').prop('disabled', false);
                        $('#btnItemDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnItemDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnItemDetailSave').prop('disabled', false);
                        $('#btnItemDetailUnlock').prop('disabled', false);
                        $('#btnItemDetailClose').prop('disabled', false);
                    }
                }
            });
        }

        // Close Item
        function closeItemDetail() {
            window.location = '/Software/ItemList';
        }

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            getItemDetailData();
            setTimeout(() => {
                Loader.hide();
            }, 1000);
        });
    </script>
    <div id="loader-overlay">
        <div class="loader-circle"></div>
    </div>
</body>
</html>