@*@model easyfis.Entities.MstUserForm*@
@{
    // =====================
    // User Rights Variables
    // =====================
    //var canAdd = Model.CanAdd;
    //var canEdit = Model.CanEdit;
    //var canDelete = Model.CanDelete;
    //var canLock = Model.CanLock;
    //var canUnlock = Model.CanUnlock;
    //var canPrint = Model.CanPrint;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/streetsmartLogo.ico">
    <title>Order Detail</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @Styles.Render("~/Content/Software-css")
    <style>
        .calendar-button {
            position: absolute;
            right: 14px;
            top: 52%;
            transform: translateY(-50%);
            font-size: 18px;
            background: transparent;
            border: none;
            color: #329494;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_SoftwareHeader")
            <div class="container">
                <h3>
                    🛵 Order Detail
                </h3>
            </div>
            <section class="container">
                <div class="panel panel-default">

                    <!--
                        Options: Lock, Unlock, and Close Button
                    -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btnOrderDetailSave" onclick="saveOrder()">💾 Save</button>
                            </div>
                            <div class="col-md-10" align="right">
                                <button class="btn btn-primary" id="btnOrderDetailLock" onclick="lockOrder()">🔒 Lock</button>
                                <button class="btn btn-info" id="btnOrderDetailPrint" onclick="printOrder()">🖨️ Print</button>
                                <button class="btn btn-primary" id="btnOrderDetailUnlock" onclick="unlockOrder()">🔓 Unlock</button>
                                <button class="btn btn-danger" id="btnOrderDetailClose" onclick="closeOrderDetail()">🗙 Close</button>
                            </div>
                        </div>
                    </div>

                    <!--
                        Details, Fields and Other Informations
                    -->
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Order No.</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="orderOrderNumber" placeholder="Order No." disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Order Date</label>
                                        <div class="col-sm-4">
                                            <input type="text" id="orderDateInput" class="form-control custom-date" placeholder="Select date" />
                                            <button type="button" class="calendar-button" data-target="#orderDateInput" tabindex="-1">📅</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Customer</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="orderCustomerName" placeholder="Customer Name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Address</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="orderAddress" placeholder="Address" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Contact No. </label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="orderContactNumber" placeholder="Contact Number" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Landmark</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="orderLandmark" placeholder="Landmark" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Look For</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="orderLookFor" placeholder="LookFor" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Delivery Date</label>
                                        <div class="col-sm-4">
                                            <input type="text" id="deliveryDateInput" class="form-control custom-date" placeholder="Select date" />
                                            <button type="button" class="calendar-button" data-target="#deliveryDateInput" tabindex="-1">📅</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Delivery Time</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="orderDeliveryTime" placeholder="12:00 AM" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Amount</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="orderAmount" placeholder="0.00" disabled />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:40px;">
                                        <div class="col-md-4">
                                            <p>Created by:</p>
                                            <div style="padding-left: 10px;">
                                                <i class="fa fa-key fa-fw"></i> <label id="createdBy">NA</label>
                                                <br />
                                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="createdDate">mm/dd/yyyy</span></small>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-md-4">
                                            <p>Updated by:</p>
                                            <div style="padding-left: 10px;">
                                                <i class="fa fa-key fa-fw"></i> <label id="updatedBy">NA</label>
                                                <br />
                                                <small><i class="fa fa-calendar fa-fw"></i> &nbsp;<span id="updatedDate">mm/dd/yyyy</span></small>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10" align="right">
                                    <button class="btn btn-primary" id="btnOrderDetailAdd" onclick="addOrderItem()" style="margin-right: 15px; margin-bottom: 5px;">🞧 Add  </button>
                                </div>
                            </div>
                            <hr style="margin: 0 15px; " />
                        </div>
                        <table id="datagridList" class="table table-striped table-bordered">
                            <thead>
                                <tr class="selected">
                                    <th></th>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="4" style="text-align: right;">Total:</th>
                                    <th class="text-right" id="amountTotalFooter"></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </section>

            @Html.Partial("_SoftwareFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    <!--
        Order Item: Detail Modal
    -->
    <div class="modal fade" id="orderItemsEdit" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="orderItemModalTitle">Order Item</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <span id="orderItemLoading"></span>
                    </center>
                    <div id="orderItemContent">
                        <br />
                        <div class="tab-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" id="orderItemId" />
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Item</label>
                                        <div class="col-sm-7">
                                            <div class="combo-container">
                                                <input type="text"
                                                       class="form-control combo-input"
                                                       id="orderItemItemId"
                                                       data-url="/api/orderItem/list/item"
                                                       data-value-field="Id"
                                                       data-text-field="ItemDescription"
                                                       data-display-fields="ItemDescription,Price"
                                                       data-placeholder="Search item..."
                                                       data-selected-id="1"
                                                       data-allow-add="false" />
                                                <span class="combo-clear" style="display:none;">&times;</span>
                                                <ul class="dropdown-menu combo-suggestions"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Price</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="orderItemPrice" placeholder="0.00" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Quantity</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="orderItemQuantity" placeholder="0.00" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Amount</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control numberField" id="orderItemAmount" placeholder="0.00" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnOrderItemSave" class="btn btn-primary" onclick="saveOrderItem()">💾 Save</button>
                        <button id="btnOrderItemCloseModal" class="btn btn-danger" data-dismiss="modal">🗙 Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        Order Confirm Delete Modal
    -->
    <div class="modal fade" id="deleteOrderItemConfirmModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    Delete Item?
                </div>
                <div class="modal-footer">
                    <button id="btnOrderItemConfirmDelete" class="btn btn-danger" onclick="confirmDeleteOrderItem()">🗑 Delete</button>
                    <button id="btnOrderItemCloseConfirmDelete" class="btn btn-primary" data-dismiss="modal">🗙 Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Software-js")
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript">
        var isLocked = false;
        var ordItemId = 0;
        // =======================
        // Get URL Parameter Value
        // =======================
        function getURLParameterValue(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");

            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);

            var results = regex.exec(window.location.href);
            if (results == null) {
                return "";
            } else {
                return results[1];
            }
        }

        // Get Order Detail Data
        function getOrderDetailData() {
            Loader.show();

            if (document.location.search.length > 0) {
                $.ajax({
                    url: '/api/order/detail/' + getURLParameterValue("id"),
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    success: function (results) {
                        if (results != null) {
                            document.getElementById('orderOrderNumber').value = results.OrderNumber;

                            const salesDate = new Date(results.SalesDate);
                            const formattedSalesDate = salesDate.getFullYear() + '-' +
                                String(salesDate.getMonth() + 1).padStart(2, '0') + '-' +
                                String(salesDate.getDate()).padStart(2, '0');
                            document.querySelector("#orderDateInput")._flatpickr.setDate(formattedSalesDate);

                            document.getElementById('orderCustomerName').value = results.CustomerName;
                            document.getElementById('orderAddress').value = results.Address;
                            document.getElementById('orderContactNumber').value = results.ContactNumber;
                            document.getElementById('orderLandmark').value = results.Landmark;
                            document.getElementById('orderLookFor').value = results.LookFor;

                            const deliveryDate = new Date(results.DeliveryDate);
                            const formattedDeliveryDate = deliveryDate.getFullYear() + '-' +
                                String(deliveryDate.getMonth() + 1).padStart(2, '0') + '-' +
                                String(deliveryDate.getDate()).padStart(2, '0');
                            document.querySelector("#deliveryDateInput")._flatpickr.setDate(formattedDeliveryDate);

                            document.getElementById('orderDeliveryTime').value = results.DeliveryTime;
                            flatpickr("#orderDeliveryTime", {
                                enableTime: true,
                                noCalendar: true,
                                dateFormat: "h:i K", // 12-hour format with AM/PM
                                time_24hr: false,
                                defaultDate: results.DeliveryTime
                            });

                            document.getElementById('orderAmount').value = parseFloat(results.Amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');;
                            document.getElementById('createdBy').innerHTML = results.CreatedBy;
                            document.getElementById('createdDate').innerHTML = results.CreatedDateTime;
                            document.getElementById('updatedBy').innerHTML = results.UpdatedBy;
                            document.getElementById('updatedDate').innerHTML = results.UpdatedDateTime;

                            if (results.IsLocked) {
                                document.getElementById('orderOrderNumber').disabled = true;
                                document.getElementById('orderDateInput').disabled = true;
                                document.getElementById('orderCustomerName').disabled = true;
                                document.getElementById('orderAddress').disabled = true;
                                document.getElementById('orderContactNumber').disabled = true;
                                document.getElementById('orderLandmark').disabled = true;
                                document.getElementById('orderLookFor').disabled = true;
                                document.getElementById('deliveryDateInput').disabled = true;
                                document.getElementById('orderDeliveryTime').disabled = true;
                                document.getElementById('orderAmount').disabled = true;

                                $('#btnOrderDetailSave').prop('disabled', true);
                                $('#btnOrderDetailLock').prop('disabled', true);
                                $('#btnOrderDetailAdd').prop('disabled', true);

                                $('#datagridList_wrapper').css({
                                    'pointer-events': 'none',
                                    'opacity': '0.8'
                                });
                                $('#datagridList').find('input, button, select, textarea').prop('disabled', true);

                                isLocked = true;
                            } else {
                                $('#btnOrderDetailUnlock').prop('disabled', true);
                            }
                        } else {
                            alert("No Data");
                            window.location = "/Software/OrderList";
                        }
                    }
                });
            } else {
                alert("No Id Parameter Value");
                window.location = "/Software/OrderList";
            }

            populateOrderItems();

            setTimeout(() => {
                Loader.hide();
            }, 1000);
        }

        function populateOrderItems() {
            if ($.fn.DataTable.isDataTable('#datagridList')) {
                $('#datagridList').DataTable().clear().destroy();
            }

            $('#datagridList tbody').off('click');

            $('#datagridList tbody').on('click', 'tr', function () {
                $('#datagridList tbody tr').removeClass('selected');
                $(this).addClass('selected');
            });

            $('#datagridList').DataTable({
                ajax: {
                    url: '/api/orderItem/list/' + getURLParameterValue("id"),
                    dataSrc: '',
                },
                columns: [
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-sm" onclick="editOrderItem(' + row.Id + ')">📝 Edit</button>';
                        }, width: '8%'
                    },
                    { data: 'ItemDescription', className: 'text-left', width: 'auto' },
                    {
                        data: 'Price',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                            }
                            return data;
                        },
                        width: '10%'
                    },
                    {
                        data: 'Quantity',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                            }
                            return data;
                        },
                        width: '10%'
                    },
                    {
                        data: 'Amount',
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                            }
                            return data;
                        },
                        width: '15%'
                    },
                    {
                        data: null,
                        className: 'text-center',
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger btn-sm" onclick="deleteOrderItem(' + row.Id + ',' + row.OrderId + ')">🗑 Delete</button>';
                        }, width: '8%'
                    }
                ],
                columnDefs: [
                    {
                        targets: 1,
                        className: 'text-left'
                    },
                    {
                        targets: [0, 4],
                        orderable: false
                    }
                ],
                pageLength: 10,
                responsive: true,
                language: {
                    search: "Search:  ",
                    emptyTable: "No record(s) available",
                    "lengthMenu": "_MENU_ Records per page",
                    "info": "_START_ - _END_ of _TOTAL_ record(s) is displayed"
                },
                footerCallback: function (row, data, start, end, display) {
                    const api = this.api();

                    let total = api
                        .column(4, { page: 'current' }) // column index for Amount
                        .data()
                        .reduce(function (a, b) {
                            return parseFloat(a || 0) + parseFloat(b || 0);
                        }, 0);

                    $(api.column(4).footer()).html(
                        total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                    );
                }
            });
        }

        // Order Data Object
        function orderDataObject() {
            var orderObject = new Object();
            orderObject.OrderNumber = document.getElementById('orderOrderNumber').value;
            orderObject.SalesDate = document.getElementById('orderDateInput').value;
            orderObject.CustomerName = document.getElementById('orderCustomerName').value;
            orderObject.Address = document.getElementById('orderAddress').value;
            orderObject.ContactNumber = document.getElementById('orderContactNumber').value;
            orderObject.Landmark = document.getElementById('orderLandmark').value;
            orderObject.LookFor = document.getElementById('orderLookFor').value;
            orderObject.DeliveryDate = document.getElementById('deliveryDateInput').value;
            orderObject.DeliveryTime = document.getElementById('orderDeliveryTime').value;
            orderObject.Amount = document.getElementById('orderAmount').value;
            var data = JSON.stringify(orderObject);
            return data;
        }

        // Save Order
        function saveOrder() {
            document.getElementById('btnOrderDetailSave').innerHTML = "💾 Saving...";
            $('#btnOrderDetailSave').prop('disabled', true);
            $('#btnOrderDetailLock').prop('disabled', true);
            $('#btnOrderDetailUnlock').prop('disabled', true);
            $('#btnOrderDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/order/save/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: orderDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Save Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailSave').innerHTML = "💾 Save";
                        $("#btnOrderDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnOrderDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnOrderDetailLock").prop("disabled", false);
                        }

                        $("#btnOrderDetailClose").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailSave').innerHTML = "💾 Save";
                        $("#btnOrderDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnOrderDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnOrderDetailLock").prop("disabled", false);
                        }

                        $("#btnOrderDetailClose").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailSave').innerHTML = "💾 Save";
                        $("#btnOrderDetailSave").prop("disabled", false);

                        if (isLocked) {
                            $("#btnOrderDetailUnlock").prop("disabled", false);
                        } else {
                            $("#btnOrderDetailLock").prop("disabled", false);
                        }

                        $("#btnOrderDetailClose").prop("disabled", false);
                    }
                },
            });
        }

        // Lock Order
        function lockOrder() {
            document.getElementById('btnOrderDetailLock').innerHTML = "🔒 Locking...";
            $('#btnOrderDetailSave').prop('disabled', true);
            $('#btnOrderDetailLock').prop('disabled', true);
            $('#btnOrderDetailUnlock').prop('disabled', true);
            $('#btnOrderDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/order/lock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: orderDataObject(),
                statusCode: {
                    200: function () {
                        toastr.success("Lock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailLock').innerHTML = "🔒 Lock";
                        $('#btnOrderDetailSave').prop('disabled', false);
                        $('#btnOrderDetailLock').prop('disabled', false);
                        $('#btnOrderDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailLock').innerHTML = "🔒 Lock";
                        $('#btnOrderDetailSave').prop('disabled', false);
                        $('#btnOrderDetailLock').prop('disabled', false);
                        $('#btnOrderDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailLock').innerHTML = "🔒 Lock";
                        $('#btnOrderDetailSave').prop('disabled', false);
                        $('#btnOrderDetailLock').prop('disabled', false);
                        $('#btnOrderDetailClose').prop('disabled', false);
                    }
                },
            });
        }

        // Unlock Order
        function unlockOrder() {
            document.getElementById('btnOrderDetailUnlock').innerHTML = "🔓 Unlocking...";
            $('#btnOrderDetailSave').prop('disabled', true);
            $('#btnOrderDetailLock').prop('disabled', true);
            $('#btnOrderDetailUnlock').prop('disabled', true);
            $('#btnOrderDetailClose').prop('disabled', true);

            $.ajax({
                type: "PUT",
                url: '/api/order/unlock/' + getURLParameterValue("id"),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Unlock Successful", "", { positionClass: "toast-bottom-right" });
                        window.setTimeout(function () {
                            location.reload()
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnOrderDetailSave').prop('disabled', false);
                        $('#btnOrderDetailUnlock').prop('disabled', false);
                        $('#btnOrderDetailClose').prop('disabled', false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnOrderDetailSave').prop('disabled', false);
                        $('#btnOrderDetailUnlock').prop('disabled', false);
                        $('#btnOrderDetailClose').prop('disabled', false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500", { positionClass: "toast-bottom-right" });
                        document.getElementById('btnOrderDetailUnlock').innerHTML = "🔓 Unlock";
                        $('#btnOrderDetailSave').prop('disabled', false);
                        $('#btnOrderDetailUnlock').prop('disabled', false);
                        $('#btnOrderDetailClose').prop('disabled', false);
                    }
                }
            });
        }

        // Print Order
        function printOrder() {
            var orderId = getURLParameterValue("id");

            var printLink = '/RepOrder/Order?OrderId=' + orderId;
            window.open(printLink, '_blank');
        }

        // Add Order Item
        function addOrderItem() {
            ordItemId = 0;
            $('#orderItemsEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $("#orderItemLoading").show();
            document.getElementById("orderItemLoading").innerHTML = 'Loading...';
            $("#orderItemContent").hide();

            document.getElementById("orderItemModalTitle").innerHTML = 'Add Order Item';

            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
            $("#btnOrderItemSave").prop("disabled", true);
            $("#btnOrderItemCloseModal").prop("disabled", false);

            document.getElementById('orderItemPrice').value = formatDecimalValues(1);
            document.getElementById('orderItemQuantity').value = formatDecimalValues(1);
            computeAmount();

            $("#orderItemLoading").hide();
            $("#orderItemContent").show();
            $("#btnOrderItemSave").prop("disabled", false);
        }

        // Edit Order Item
        function editOrderItem(orderItemId) {
            $('#orderItemsEdit').modal({
                show: true,
                backdrop: 'static'
            });

            $("#orderItemLoading").show();
            document.getElementById("orderItemLoading").innerHTML = 'Loading...';
            $("#orderItemContent").hide();

            document.getElementById("orderItemModalTitle").innerHTML = 'Edit Order Item';

            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
            $("#btnOrderItemSave").prop("disabled", true);
            $("#btnOrderItemCloseModal").prop("disabled", false);

            $.ajax({
                url: '/api/orderItem/detail/' + orderItemId + '/' + getURLParameterValue("id"),
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (results) {
                    if (results != null) {
                        const $input = $('#orderItemItemId');
                        document.getElementById('orderItemId').value = results.Id;
                        ordItemId = results.Id;
                        $input.val(results.ItemDescription).data('selected-id', results.ItemId);
                        document.getElementById('orderItemPrice').value = formatDecimalValues(results.Price);
                        document.getElementById('orderItemQuantity').value = formatDecimalValues(results.Quantity);
                        document.getElementById('orderItemAmount').value = formatDecimalValues(results.Amount);

                        $("#btnOrderItemSave").prop("disabled", false);
                        $("#orderItemLoading").hide();
                        $("#orderItemContent").show();
                    } else {
                        alert("No Data");
                        window.location = "/Software/OrderList";
                    }
                }
            });
        }

        // Save Order Item
        function saveOrderItem() {
            const selectedId = $('#orderItemItemId').data('selected-id');
            var orderItemObject = new Object();
            var orderId = getURLParameterValue('id');
            orderItemObject.OrderId = orderId;
            orderItemObject.ItemId = selectedId;
            orderItemObject.Price = document.getElementById('orderItemPrice').value;
            orderItemObject.Quantity = document.getElementById('orderItemQuantity').value;
            orderItemObject.Amount = document.getElementById('orderItemAmount').value;
            var orderItemData = JSON.stringify(orderItemObject);

            document.getElementById('btnOrderItemSave').innerHTML = "💾 Saving...";
            $("#btnOrderItemSave").prop("disabled", true);
            $("#btnOrderItemCloseModal").prop("disabled", true);

            if (ordItemId == 0) {
                $.ajax({
                    type: "POST",
                    url: '/api/orderItem/add/' + orderId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: orderItemData,
                    statusCode: {
                        200: function () {
                            toastr.success("Save Succesful");
                            $('#orderItemsEdit').modal('hide');
                            Loader.show();
                            populateOrderItems();
                            setTimeout(() => {
                                Loader.hide();
                            }, 1000);
                        },
                        404: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
                            $("#btnOrderItemSave").prop("disabled", false);
                            $("#btnOrderItemCloseModal").prop("disabled", false);
                        },
                        400: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
                            $("#btnOrderItemSave").prop("disabled", false);
                            $("#btnOrderItemCloseModal").prop("disabled", false);
                        },
                        500: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
                            $("#btnOrderItemSave").prop("disabled", false);
                            $("#btnOrderItemCloseModal").prop("disabled", false);
                        }
                    }
                });
            } else {
                $.ajax({
                    type: "PUT",
                    url: '/api/orderItem/update/' + ordItemId + '/' + orderId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: orderItemData,
                    statusCode: {
                        200: function () {
                            toastr.success("Update Successful");
                            $('#orderItemsEdit').modal('hide');
                            Loader.show();
                            populateOrderItems();
                            setTimeout(() => {
                                Loader.hide();
                            }, 1000);
                        },
                        404: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
                            $("#btnOrderItemSave").prop("disabled", false);
                            $("#btnOrderItemCloseModal").prop("disabled", false);
                        },
                        400: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
                            $("#btnOrderItemSave").prop("disabled", false);
                            $("#btnOrderItemCloseModal").prop("disabled", false);
                        },
                        500: function (message) {
                            toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                            document.getElementById('btnOrderItemSave').innerHTML = "💾 Save";
                            $("#btnOrderItemSave").prop("disabled", false);
                            $("#btnOrderItemCloseModal").prop("disabled", false);
                        }
                    }
                });
            }
        }

        // Delete Order Item
        var delOrderItemId = 0;
        var delOrderId = 0;
        function deleteOrderItem(orderItemId, orderId) {
            delOrderItemId = orderItemId;
            delOrderId = orderId;
            $('#deleteOrderItemConfirmModal').modal({
                show: true,
                backdrop: 'static'
            });

            document.getElementById('btnOrderItemConfirmDelete').innerHTML = "🗑 Delete";
            $("#btnOrderItemConfirmDelete").prop("disabled", false);
            $("#btnOrderItemCloseConfirmDelete").prop("disabled", false);
        }

        // Delete Confirm Order Item
        function confirmDeleteOrderItem() {
            document.getElementById('btnOrderItemConfirmDelete').innerHTML = "🗑 Deleting...";
            $("#btnOrderItemConfirmDelete").prop("disabled", true);
            $("#btnOrderItemCloseConfirmDelete").prop("disabled", true);

            $.ajax({
                url: '/api/orderItem/delete/' + delOrderItemId + '/' + delOrderId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function () {
                        toastr.success("Delete Successful");
                        $('#deleteOrderItemConfirmModal').modal('hide');
                        Loader.show();
                        populateOrderItems();
                        setTimeout(() => {
                            Loader.hide();
                        }, 1000);
                    },
                    404: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                        document.getElementById('btnOrderItemConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnOrderItemConfirmDelete").prop("disabled", false);
                        $("#btnOrderItemCloseConfirmDelete").prop("disabled", false);
                    },
                    400: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                        document.getElementById('btnOrderItemConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnOrderItemConfirmDelete").prop("disabled", false);
                        $("#btnOrderItemCloseConfirmDelete").prop("disabled", false);
                    },
                    500: function (message) {
                        toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                        document.getElementById('btnOrderItemConfirmDelete').innerHTML = "🗑 Delete";
                        $("#btnOrderItemConfirmDelete").prop("disabled", false);
                        $("#btnOrderItemCloseConfirmDelete").prop("disabled", false);
                    }
                }
            });
        }

        $("#orderItemPrice").keyup(function (e) { computeAmount(); });
        $("#orderItemQuantity").keyup(function (e) { computeAmount(); });
        $('#orderItemItemId').on('change', function () {
            const item = $(this).data('selected-item');
            if (item) {
                $('#orderItemPrice').val(item.Price); // Assign to hidden or display field
                computeAmount();
            }
        });

        // Compute Amount
        function computeAmount() {
            var price = document.getElementById('orderItemPrice').value.replace(/\,/g, '');
            var quantity = document.getElementById('orderItemQuantity').value.replace(/\,/g, '');
            var amount = price * quantity;

            document.getElementById('orderItemAmount').value = formatDecimalValues(amount);
        }

        // Close Order
        function closeOrderDetail() {
            window.location = '/Software/OrderList';
        }

        function initializeDate() {
            const today = new Date();

            flatpickr("#orderDateInput", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                minDate: "1753-01-01",
                maxDate: "9999-12-31",
                disableMobile: true
            });

            flatpickr("#deliveryDateInput", {
                dateFormat: "Y-m-d",
                defaultDate: today,
                minDate: "1753-01-01",
                maxDate: "9999-12-31",
                disableMobile: true
            });

            getOrderDetailData();
        }

        document.querySelectorAll('.calendar-button').forEach(function (btn) {
            btn.addEventListener('click', function () {
                const targetInput = document.querySelector(this.dataset.target);
                if (targetInput && targetInput._flatpickr) {
                    targetInput._flatpickr.open();
                }
            });
        });

        // ============
        // On Load Page
        // ============
        $(document).ready(function () {
            initializeDate();
            initComboBoxes();
        });
    </script>
    <div id="loader-overlay">
        <div class="loader-circle"></div>
    </div>
</body>
</html>